body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  background-color: #eff1f1;
}

.container {
  max-width: 570px;
}

h1 {
  background-color: rgba(235, 234, 235, 0.815);
  margin: 30px auto;
  border: 2px solid #779e92;
  padding: 10px;
  border-radius: 25px;
  max-width: 400px;
  text-align: center;
  display: block;
  color: #6a8d82;
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-top: -10px;
  display: block;
  color: #779e92;
  font-family: "B612 Mono", monospace;
  font-size: 17px;
}

h3 {
  text-align: center;
  display: block;
  color: #779e92;
  font-family: "B612 Mono", monospace;
  font-size: 25px;
  margin-bottom: 0%;
}

h4 {
  text-align: center;
  display: block;
  color: #8fb7aa;
  font-family: "B612 Mono", monospace;
  font-size: 14px;
  margin-top: 0%;
}

.col {
  text-align: center;
  display: block;
  color: #779e92;
  font-weight: 600;
}
