body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  background-color: rgb(38, 39, 39);
}

.container {
  max-width: 570px;
}

h1 {
  display: block;
  text-align: center;
  background-color: rgb(38, 39, 39);
  margin: 30px auto;
  border: 2px solid #ffc109;
  padding: 10px;
  border-radius: 25px;
  max-width: 400px;
  color: #ffc109;
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  text-decoration: none;
}

h2 {
  display: block;
  text-align: center;
  margin-top: -10px;
  color: #ffc109;
  font-family: "B612 Mono", monospace;
  font-size: 17px;
}

h3 {
  display: block;
  text-align: center;
  color: #ffc109;
  font-family: "B612 Mono", monospace;
  font-size: 25px;
  margin-bottom: 0%;
}

h4 {
  display: block;
  text-align: center;
  color: #ffc109;
  font-family: "B612 Mono", monospace;
  font-size: 14px;
  margin-top: 0%;
}

.col {
  display: block;
  text-align: center;
  color: #ffc109;
  font-weight: 600;
}

.col-3 {
  display: block;
  text-align: center;
  color: #ffc109;
}

.link-warning {
  display: block;
  text-align: center;
}
